node_modules
yarn-error.log
yarn.lock
.env
coverage
coverage.json
.vscode
.cspell

#Hardhat files
cache
artifacts
typechain
solcInputs
typechain-types
generatedMnemonic.txt
network-settings.json

# OpenZeppelin
.openzeppelin/unknown-*.json
